@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    text-align: center;
    height: 100%;
    position: relative;
}

.myName {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header__details h5, .header__details h1 {
    font-size: 3rem;
}

.text__animated {
    font-size: 1.4rem;
}

/* ======= SOCIALLS ======= */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    margin: 1rem 0 .2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    gap: 1.5rem;
}

/* .header__socials::after {
    content:'';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
} */

.button__socials {
    transition: var(--transition);
}

/* ======= PROFILE PIC ======= */

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 26rem;
    height: 35rem;
    position: initial;
    left: calc(50% - 13rem); /* 50% - half of width */
    /* margin-top: 4rem; */
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ======= SCROLL DOWN ======= */

.header__scrolldown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__down {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-weight: bold;
    font-size: 1.4rem;
    right: -2.3rem;
    bottom: 5rem;
    transition: var(--transition);
}

.scroll__down__icon {
    font-size: 2.5rem;
}

/* ========== Media Queries (MEDIUM DEVICES) =========== */
@media screen and (max-width:1024px){
    header {
        height: 68vh;
        padding-top: 7rem;
    }

    .me {
        width: 22rem;
        height: 30rem;
        left: calc(50% - 11rem);
    }

    .cta {
        margin-top: 0;
    }

    .scroll__down {
        display: none;
    }
}


/* ========== Media Queries (SMALL DEVICES) =========== */
@media screen and (max-width:600px){
    header {
        height: 100vh;
        padding-top: 5rem;
    }

    .header__container {
        flex-direction: column-reverse;
    }

    .header__details h5, .header__details h1 {
        font-size: 2rem;
    }
    
    .text__animated {
        font-size: 1rem;
    }

    .header__socials {
        display: none;
    }

    .me {
        margin-top: 2rem;
    }

    .cta {
        margin-top: 1rem;
    }
}